<!DOCTYPE html>
<html>
    <head>

<!--<link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.comcss?family=Montserrat" rel="stylesheet">-->
  <link rel="stylesheet" type="text/css" href="/aboutStyle.css">
      <title>Doggie Dog World - About Us</title>
  
<link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>
    <div class="header">
  <a href="/index.erb" class="logo">Doggie Dog World</a>
  <div class="header-right">
    <a class="/index.erb" href="/index.erb">Home</a>
    <a href="/quiz.erb">Breed Quiz</a>
    <a href="#about">Budget Quiz</a>
    <a href="/getinvolved.erb">Get Involved</a>
    <a href="/aboutus.erb">About</a>
  </div>
</div>
    <p class="about-us">About Us</p>
    <p class="info">Doggie Dog World is more than your normal website. In 2018, it was founded by four normal teenage girls in a Kode With Klossy camp. Those girls are Grace Hillen, Samyu Ravikumar, Jade Loveland, and Sophia Curran-Moore. Doggie Dog World is an easily accessible source where you can research the dog that best fits your lifestyle. That way, you and your dog can both be happier. With this site, you can also research whether you will be able to afford your pet, pet shelters near you, and how to get involved with animal rights.<br><br>Thank you for making a difference by visiting this site. </p>
   <img src="https://animalso.com/wp-content/uploads/2017/01/german-shepherd-puppies_3.jpg" width="500" alt="german-shepherd" class="center">
   
    <!--Footer-->
 <div class="footer">
    <img src="http://pluspng.com/img-png/decorative-line-clipart-the-cliparts-1200.jpg" alt="line" style="width:70%; height:7%; align:center; ">
  <p>Made with the help of the Kode with Klossy Camp</p>
  <p>Creators: Grace Hillen, Samyu Ravikumar, Sophie C-M, Jade Loveland, Chloe the OG</p>
 <p>Contact information: <a href="mailto:doggiedoggieworld@gmail.com">doggiedoggieworld@gmail.com</a></p></div>
   
  </body>
</html>