<!DOCTYPE html>
<html>
<!--<link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">-->

<!--<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">-->

<html>
 
 <head>
  <!--<meta charset="UTF-8">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <link rel="stylesheet" type="text/css" href="styles.css">
  
  <title> Doggie Dog World </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<link href "https://www.1001fonts.com/puppybellies-font.html" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


 <title>Bootstrap Example</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 </head>
 <div class= "back">
 <body>

  
  <div class="header"><header>
   <a href="/index.erb" class="logo">Doggie Dog World</a>
   <div class="header-right">
    <a class="active" href="/index.erb">Home</a>
    <a href="/quiz.erb">Breed Quiz</a>
    <a href="#about">Budget Quiz</a>
    <a href="/getinvolved.erb">Get Involved</a>
    <a href="/aboutus.erb">About</a>
   </div></header>
  </div>


<div class="box">
    <center>
      <h1><%=@results[0]%></h1>
      <a href=<%=@results[4]%>><img src=<%=@results[3]%> style="width: 150px; height=100%"></a>
    <h3><%=@results[2]%></h3>
    </center>

  </div>
  
   <!--Footer-->
 <div class="footer">
    <img src="http://pluspng.com/img-png/decorative-line-clipart-the-cliparts-1200.jpg" alt="line" style="width:70%; height:7%; align:center; ">
  <p>Made with the help of the Kode with Klossy Camp</p>
  <p>Creators: Grace Hillen, Samyu Ravikumar, Sophie C-M, Jade Loveland, Chloe the OG</p>
 <p>Contact information: <a href="mailto:doggiedoggieworld@gmail.com">doggiedoggieworld@gmail.com</a></p></div>
  
</body>
</html>

  </div>

