<!DOCTYPE html>
<!--<link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">-->

<!--<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">-->

<html>
  
  <head>
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link rel="stylesheet" type="text/css" href="involvedStyle.css">
    
    <title> Doggie Dog World </title>

<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->

<link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


  
  </head>
  
  <body>
    
   <div class="header"><header>
      <a href="/index.erb" class="logo">Doggie Dog World</a>
      <div class="header-right">
        <a class="/index.erb" href="index.erb">Home</a>
        <a href="/quiz.erb">Breed Quiz</a>
        <a href="#about">Budget Quiz</a>
        <a href="/getinvolved.erb">Get Involved</a>
        <a href="/aboutus.erb">About</a>
      </div></header>
    </div>


   
    
     <h1 style="text-align: center;">GET INVOLVED</h1>
    
    <p> According to One Green Planet, there are about 70 million stray animals living in the U.S. alone. The good news is that you can help make a difference in these animals' lives. From starting your own fundraiser to volunteering with nearby shelters, there are many ways for you to get involved. Here are just a few!</p>
    
    <div>
    <p style="float: left;"><img src="http://www.easelnj.org/wp-content/uploads/2017/12/Volunteer-Home.jpg" style="height: 30%;"></p>
    <br> <h2>VOLUNTEER</h2>
    <p>
    One way to help out in your community is to volunteer at a shelter. Volunteers are responsible for a variety of jobs, including cleaning, walking, and socializing with the animals. Enter your state below to find nearby shelters!
    
      <form action="/nearby_shelters" method="post">
  State Abbreviation:<br>
        <input type="text" name="state"><br>
        <input type="submit" value="Submit">
      </form>
    </p> 
    </div>
    
    <div> 
    <br>
  
      <h2 style="margin-left:9%;">DONATE</h2>
      <p style="float:left;"> <img src="https://www.dogster.com/wp-content/uploads/2017/11/A-sick-dog-lying-on-the-floor.jpg" style="height:30%; float:right;">  Another way to help out is to donate! Whether it's a local shelter, or a global organizations, donations help these companies run. You can also donate items like food and toys. One great organization to donate to is ASPCA.</p>


    </div>
    
    <div style="margin-top:10%;">
    <p style="float: left;"><img src="https://www.dailydogtag.com/wp-content/uploads/2013/07/Amie_Fedora_Photography_IMG3306_low-e1375191851173.jpg" style="height: 30%;"></p>
    <br><br>
   <h2>ADOPT</h2>
    <p>
     If you are ready for a new dog, think twice about buying one. Every year 1.2 million dogs are put down at shelters across the U.S. Adopting can save an animals' lives. Encourage family and friends to adopt instead of buy as well.
    </p> 
    </div>

<h2>SOCIAL MEDIA</h2>
<p>There are many online resources that spread awareness about animal rights issues. Heres one great resource! <br> https://www.youtube.com/channel/UCaI2TsKCQZ2bb3xyqlBYKRw </p>

 <!--Footer-->
 <div class="footer">
    <img src="http://pluspng.com/img-png/decorative-line-clipart-the-cliparts-1200.jpg" alt="line" style="width:70%; height:7%; align:center; ">
  <p>Made with the help of the Kode with Klossy Camp</p>
  <p>Creators: Grace Hillen, Samyu Ravikumar, Sophie C-M, Jade Loveland, Chloe the OG</p>
 <p>Contact information: <a href="mailto:doggiedoggieworld@gmail.com">doggiedoggieworld@gmail.com</a></p></div>


  </body>
</html>